#results{
  border: 1px red solid;
  height: 25rem;
  overflow: scroll;
  background-color: white;
  margin-left: 30vw;
  margin-right: 30vw;
  width: 30%
  pre{
    width: 100%;
    border-radius: 15px;
  }
}