#results{
  height: 25rem;
  overflow: scroll;
  background-color: white;
  margin-left: 30vw;
  margin-right: 30vw;
  width: 30%
  pre{
    width: 100%;
    border-radius: 15px
  }
  .pre-headers{
    color: green;
    font-size: 20px;
    font-weight: bold;
  }
  .pre-count{
    color: red;
    font-size: 20px;
    font-weight: bold;
  }
  .pre-data{
    color: darkblue;
    font-size: 15px;
    font-weight: bold;
  }
}