@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
$backgroundColor: #f5f545;
$footerColor: #80af72;
$headerColor: #7acaf9;
$backgroundImage: url(../public/assets/poke-background.png);
$ConcertOne: 'Concert One', sans-Serif;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundImage;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position-y: -300px;
  height: 100%;
  font-family: $ConcertOne;

  #root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  #App{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  main{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .request {
    margin: auto;
    margin-bottom: 0;
    margin-top: 25vh;
  }

  .loading-spinner{
    margin: auto;
  }

  footer {
    margin-top: auto;
    background: $footerColor;
    border-top: 1px solid darken($footerColor, 5);
    padding: 1em 3em;

    &:hover{
      background: darken($footerColor, 5);
    }
  }

  header {
    background: $headerColor;
    border-bottom: 1px solid darken($headerColor, 5);
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
    &:hover{
      background: darken($headerColor, 5);
      color: linear-gradient(90deg, rgba(218,215,56,1) 0%, rgba(255,186,0,0.819765406162465) 100%);
    }
  }
}